{% extends 'base_nav.html' %}

{% block content %}
<div class="flex">
  <a href="javascript:history.back()" class="flex items-center pl-5  text-[#ffd951] " style="height: 50px;">
    <span class="material-symbols-outlined">
      chevron_left
    </span>
    Back
  </a>
</div>
<!--Reset Password-->
<div class="container mx-auto flex justify-center h-screen">
  <div class="w-full max-w-md pt-10">
    <p class="text-4xl mb-3 pb-4 font-bold">비밀번호 초기화</p>
    <hr class="border-t-2 border-yellow-300">
    <p class="mt-8">비밀번호를 잊어버리셨나요?<br>
      가입하신 이메일을 입력해 주세요.<br>
      잠시 후 해당 이메일로 비밀번호 재설정 메일이 발송됩니다.</p>
    <!-- 에러 메시지 -->
    {% if messages %}
      <div class="text-red-600">
        {% for message in messages %}
          <script>
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: '{{ message }}'
            });
          </script>
        {% endfor %}
      </div>
    {% endif %}

    <form method="POST" action='{% url 'accounts:password_reset' %}'>
      {% csrf_token %}
      <div class="my-8 flex justify-center">
        <input type="text" id="email" name="email" value="{{ user.email }}" class="form-input mt-1 block w-3/4 rounded-md bg-[#101013]" placeholder="E-mail">
      </div>
      <div class="grid">
        <button type="submit" class="bg-yellow-400 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded shadow">전송하기</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
