{% extends 'base_nav.html' %}
{% load static %}

{% block title %}
Catsmos
{% endblock title %}

{% block content %}
<div class="flex">
  <a href="javascript:history.back()" class="flex items-center pl-5  text-[#ffd951] " style="height: 50px;">
      <span class="material-symbols-outlined">
          chevron_left
      </span>
      Back
  </a>
</div>
<div class="container mx-auto flex justify-center h-screen">
  <div class="w-full max-w-md pt-10">
    <p class="text-4xl mb-3 pb-4 font-bold">프로필 수정</p>
    <hr class="border-t-2 border-yellow-300">
    <form action="{% url 'accounts:profile_update' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="grid my-4 gap-y-3">
        <div class="flex gap-5">
          <div class=>
            <label for="last_name" class="block text-sm font-medium text-slate-300">이름</label>
            <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" class="form-input mt-1 block w-full rounded-md bg-[#101013]">
          </div>
          <div>  
            <label for="first_name" class="block text-sm font-medium text-slate-300">성</label>
            <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" class="form-input mt-1 block w-full rounded-md bg-[#101013]">
          </div>
        </div>
    
        <label for="email" class="block text-sm font-medium text-slate-300">E-mail</label>
        <input type="text" id="email" name="email" value="{{ user.email }}" class="form-input mt-1 block w-full rounded-md bg-[#101013]">
      </div>
      <div class="grid mt-7">
        <button type="submit" class="bg-yellow-400 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded shadow">수정하기</button>
      </div>
    </form>
    <hr class="my-4 border-t-1 border-yellow-300">
    <div class="mb-7">
      <label class="" for="change_password">비밀번호 변경</label>
      <br>
      <p class="text-slate-300 text-xs">비밀번호를 변경하고 싶다면, <a href="{% url 'accounts:change_password' %}" class="text-yellow-500 hover:text-yellow-600 underline">여기</a>를 눌러 비밀번호를 변경하세요.</p>
    </div>
    
    <form action="{% url 'accounts:delete' %}" method="POST" id="delete">
        {% csrf_token %}
        <label class="" for="delete">계정 삭제하기</label>
        <br>
        <input type="hidden" name="next" value="{{ request.path }}" />
        <p class="text-slate-300 text-xs">이 계정을 삭제하고 싶으면, <button id="deleteButton" onclick="confirmDelete(event)" type="submit" class="text-red-500 hover:text-red-600 underline">여기</button>를 누르세요. 계정을 삭제하게 되면 돌이킬 수 없습니다.</p>
    </form>
  </div>
</div>


{% endblock content %}
{% block script %}
<script>
  const deleteButton = document.querySelector("#deleteButton");
  deleteButton.addEventListener("click", confirmDelete);
  
  function confirmDelete(event) {
    event.preventDefault();
  
    Swal.fire({
      title: '삭제하시겠습니까?',
      text: "삭제하면 되돌릴 수 없습니다!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: '네',
      cancelButtonText: '아니요'
    }).then((result) => {
      if (result.isConfirmed) {
        document.querySelector("#delete").submit();
        Swal.fire({
          title: '삭제했습니다!',
          text: 'success',
          timer: 4000,
          showConfirmButton: true,
        });
      }
      
    });
  }
</script>
{% endblock script %}
