{% extends 'base_nav.html' %}
{% load static %}

{% block title %}
Catsmos
{% endblock title %}

{% block content %}
<div class="flex">
  <a href="javascript:history.back()" class="flex items-center pl-5  text-[#ffd951] " style="height: 50px;">
    <span class="material-symbols-outlined">
      chevron_left
    </span>
    Back
  </a>
</div>
  <div class="container mx-auto flex justify-center h-screen">
    <div class="w-full max-w-md pt-10">
      <p class="text-4xl mb-3 pb-4 font-bold">비밀번호 변경</p>
      <hr class="border-t-2 border-yellow-300">
      <form action="{% url 'accounts:change_password' %}" method="POST" enctype="multipart/form-data" class="d-grid w-50 gap-2">
        {% csrf_token %}
        <div class="grid my-4 gap-y-3">
          <label for="old_password" class="block text-sm font-medium text-slate-300">기존 비밀번호</label>
          <input type="password" id="old_password" name="old_password" class="form-input mt-1 block w-full rounded-md bg-[#101013]">
          
          <label for="new_password1" class="block text-sm font-medium text-slate-300">새 비밀번호</label>
          <input type="password" id="new_password1" name="new_password1" class="form-input mt-1 block w-full rounded-md bg-[#101013]">
          
          <label for="new_password2" class="block text-sm font-medium text-slate-300">새 비밀번호 확인</label>
          <input type="password" id="new_password2" name="new_password2" class="form-input mt-1 block w-full rounded-md bg-[#101013]">
        </div>
        <div class="">
          <label class="relative inline-flex items-center mb-4 cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" id="togglePassword">
            <div class="w-11 h-6 rounded-full peer peer-focus:ring-4 peer-focus:ring-yellow-500 bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-allborder-gray-600 peer-checked:bg-yellow-600"></div>
            <span class="ml-3 text-sm font-medium text-gray-300">비밀번호 보기/숨김</span>
          </label>
        </div>
        <div class="grid mt-3">
          <button type="submit" class="bg-yellow-400 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded shadow">제출하기</button>
        </div>
      </form>      
    </div>
  </div>
{% endblock content %}
{% block script %}
<script>
  const togglePassword = document.getElementById('togglePassword');
  const oldPasswordInput = document.getElementById('old_password');
  const newPassword1Input = document.getElementById('new_password1');
  const newPassword2Input = document.getElementById('new_password2');
  
  togglePassword.addEventListener('change', function() {
    if (togglePassword.checked) {
      oldPasswordInput.type = 'text';
      newPassword1Input.type = 'text';
      newPassword2Input.type = 'text';
    } else {
      oldPasswordInput.type = 'password';
      newPassword1Input.type = 'password';
      newPassword2Input.type = 'password';
    }
  });
</script>
{% endblock script %}