{% extends 'base_accounts.html' %} 
{% load static %} 
{% block title %} Catsmos {% endblock title %}
{% block style %}
.password-container
{ 
  position: relative;
}
.password-container input[type="password"],
.password-container input[type="text"]
{ 
  width: 100%; 
  box-sizing: border-box; 
}
.fa-eye
{ 
  position:absolute; 
  top: 35%; 
  right: 4%; 
  cursor: pointer; 
  color: lightgray; 
} 
{% endblock style %}
{% block content %}
<div class="">
  <div class="m-4">
    <div class="text-center">
      <p class="my-3 text-3xl font-bold">
        Welcome to Catsmos <br>
        Your Gateway to Feline Wonder!
      </p>
      <p class="text-gray-400">
        Dive into the enchanting world of cats with Catsmos, where we celebrate
        everything feline. Discover captivating stories, adorable pictures,
        expert advice, and a community of passionate cat lovers.
      </p>
      <br>
    </div>

    <!-- 로그인 폼 -->
    <div class="form-login">
      <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        <div class="my-6">
          <div class="relative z-0 w-full group">
            {{ form.username }}
          </div>
          {% if messages %}
            <div class="text-red-500 mt-4">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
          {% endif %}
          <div class="relative z-0 w-full group mt-5">
            {{ form.password }}
            <i
              class="fa-solid fa-eye absolute top-1/2 right-3 transform -translate-y-1/2 cursor-pointer"
              id="togglePassword"
            ></i>
          </div>
        </div>
        <div class="grid mt-7">
          <button
            type="submit"
            class="bg-yellow-400 hover:bg-yellow-500 text-xl text-white font-bold py-1 px-4 rounded shadow"
          >
            로그인
          </button>
        </div>
      </form>
    </div>

    <div
      class="me-5 my-3 text-gray-200 flex justify-end gap-x-7"
      style="font-size: 12px"
    >
      <a href="{% url 'accounts:contract' %}">회원가입</a>
      <a href="{% url 'accounts:find_id' %}">아이디 찾기</a>
      <a href="{% url 'accounts:password_reset' %}">비밀번호 찾기</a>
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script>
  const passwordInput = document.querySelector("#id_password");
  const eye = document.querySelector("#togglePassword");
  eye.addEventListener("click", function () {
    this.classList.toggle("fa-eye-slash");
    const type =
      passwordInput.getAttribute("type") === "password" ? "text" : "password";
    passwordInput.setAttribute("type", type);
  });
</script>
{% endblock script %}
